.containerPost{
  display:flex;
  flex-direction: column;
  
}

.userInfo{
  display:flex;
  flex-direction: row;
  gap: 1rem;
  img {
    clip-path: circle();
    width: 7rem;
    height: 5rem;
  }
}

.postInfo{

  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.5rem;
}

